*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Orbitron;
  src: url(./Font/Orbitron-Black.ttf);
  src: url(./Font/Orbitron-Bold.ttf);
  src: url(./Font/Orbitron-ExtraBold.ttf);
  src: url(./Font/Orbitron-Medium.ttf);
  src: url(./Font/Orbitron-Regular.ttf);
  src: url(./Font/Orbitron-SemiBold.ttf);
}

@font-face {
  font-family: Timer;
  src: url(./Font/CursedTimerUlil-Aznm.ttf);
}

body{
  font-family: Orbitron, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: #f2f2f2;
  color: #7f7f7f;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 550px;
  height: 100vh;
  margin: auto;
}

.Header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.25em;
}

.MainContent{
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}

.localTime{
  font-family: Timer;
  font-size: 70px;
  margin: 0 auto;
  color: #a5a5a5;
  width: 100%;
  background-color: #595959;
  text-align: center;
  padding:14px 5px 5px 5px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.greeting{
  margin-bottom: 10px;
}

.gmtTime{
  margin: 0 0 0 auto;
}

.Footer{
  width: 100%;
  padding: 0.25em;
  display: grid;
  place-content: center;
}

